<div class="border-form">
  <h2 class="text-center">Редактировать профиль</h2>

  <div class="row">
    <div class="col-xs-12 buffer-top">
      <%= render 'form' %>

      <p class="buffer-top text-center">
        <%= link_to 'Сменить пароль', edit_user_registration_path %>
      </p>
    </div>
  </div>

</div>